.fc-daygrid-day {
  cursor: pointer;
}

.fc-daygrid-day-number {
  text-decoration: none;
}

.fc-day-sat a {
  color: blue;
}

.fc-day-sun a {
  color: red;
}

.fc-day-mon a,
.fc-day-tue a,
.fc-day-wed a,
.fc-day-thu a,
.fc-day-fri a {
  color: black;
}

.holiday-event {
  white-space: normal;
  word-wrap: break-word;
  overflow: visible;
  color: black;

  padding: 5px;
}
.fc-event-time {
  color: black;
}
.fc-event-title {
  color: black;
}
.fc-event-title.fc-sticky {
  color: white;
}